# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- List popular languages for Data Science
- List some commonly used libraries used by Data Scientists
- examples of arithmetic expressions

# Some of the popular languages that Data Scientists use are:
1. PYTHON
2. R
3. SQL
4. JULIA
5. JAVA

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy.2. 
Matplotlib.3. 
Panda
4. Machine learning...

# Creating a table
|Data Science Tools|
|------------------|
|R-studio          |
|Jupyter Notebook  |
|Google colab      |

### Below are a few examples of evaluating arithmetic expressions in Python
11+4

15*4

31-23

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
  ADITYA DEY